<f:layout name="Default" />
<f:section name="Title">
	<f:security.ifAuthenticated>
		<f:then>Welcome - You are logged in!</f:then>
		<f:else>Log in</f:else>
	</f:security.ifAuthenticated>
</f:section>

<f:section name="Content">
	<f:security.ifAuthenticated>
		<f:then>
			<f:if condition="{account.party}">
				<p>Hi <strong>{account.party.name}</strong>, you are currently logged in. You can logout using the logout button below.</p>
			</f:if>
			<f:link.action action="logout" controller="Authentication" class="btn btn-default">Log out</f:link.action>
		</f:then>
		<f:else>
			<p>Please login to access specific parts of the site.</p>
			<p>The Clio.Beer packages contains a Command controller to add new accounts. An account is linked to a specific brewer (user). <br />Use the following command to create a new account</p>
			<pre>./flow user:createaccount &lt;username&gt; &lt;password&gt; &lt;brewername&gt; "Clio.Beer:Brewer"</pre>
			<p>To create new brewers use the dedicated command</p>
			<pre>./flow user:createbrewer &lt;name&gt;</pre>
			<f:form action="authenticate" controller="Authentication" method="post" class="form-horizontal">
				<fieldset>
					<legend>Login</legend>
					<div class="form-group">
						<label for="username" class="col-lg-2 control-label">Username</label>
						<div class="col-lg-4">
							<f:form.textfield id="username" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" />
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-4">
							<f:form.password id="password" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
						</div>
					</div>
				</fieldset>
				<div class="form-group">
				    <div class="col-lg-offset-2 col-lg-10">
						<f:form.submit value="Log ind" class="btn btn-default"/>
					</div>
				</div>
			</f:form>
			<div class="clearfix"></div>
		</f:else>
	</f:security.ifAuthenticated>
</f:section>