<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta name="description" content="">
  		<meta name="author" content="Jan-Erik Revsbech">
		<title><f:render section="Title" /></title>
		<!-- Bootstrap core CSS -->
 		<link href="{f:uri.resource(path: 'CSS/bootstrap.css')}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{f:uri.resource(path: 'CSS/Screen.css')}" rel="stylesheet">

		<f:base />
	</head>
	<body>

		<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
				<nav role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><f:link.action action="index" controller="Beer" package="Clio.Beer">Beers</f:link.action></li>
						<li><f:link.action action="index" controller="Brewery" package="Clio.Beer">Breweries</f:link.action></li>
						<li><f:link.action action="login" controller="Authentication" package="Clio.Beer">Login</f:link.action></li>
					</ul>
				</nav>
			</div>
		</header>


		<div class="container">
			<h1><f:render section="Title"/></h1>
			<f:flashMessages class="flashmessages"/>
			<f:render section="Content"/>
		</div>

		<script src="{f:uri.resource(path: 'JavaScript/Vendor/jquery.min.js')}"></script>
		<script src="{f:uri.resource(path: 'JavaScript/bootstrap.min.js')}"></script>
	</body>
</html>