<f:layout name="Default" />

<f:section name="Title">Welcome to the Clio world of beers</f:section>

<f:section name="Content">
	<p>Take a look at our sites to get inspired.</p>
	<p>This site is part of af TYPO3 Flow workshop held at <a href="http://www.clioonline.dk/">Clioonline</a>.
	The package Clio.Beer, can be found at <a href="https://github.com/revsbech/Clio.Beer">Github</a> an consists of various
	examples. The slides for the workshop can be found on <a href="http://www.slideshare.net/revsbech/clio-online-flow-undervisning">SlideShare</a></p>
	<p>Please feel free to Clone the Git repo and use for you own purposes. If you make cool add-ons, please make a pull request on github.</p>
	<p>Enjoy!<br />Jan-Erik Revsbech<br />MOC</p>
</f:section>